.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: top;
  height: 68px;
  font-family: "Open Sans Bold";
  font-size: 16px;
  color: #4f4f4f;
  line-height: 0.772;
  text-align: left;
  padding-left: 34px; }

.header__line {
  margin-block-start: 0;
  margin-block-end: 0;
  border-color: #f1f1f1;
  border-style: solid;
  position: absolute;
  top: 66px;
  width: 1028px;
  height: 1px;
  background-color: #f1f1f1; }
